Repository bcgov/MOH-ALR, pull requests merged in 2025-05, with the labels that each got.

#1226 EHIS-1722 Sharing rules for the BLA records
  bcgov-source/core/main/default/sharingRules/BusinessLicenseApplication.sharingRules-meta.xml
Labels: PHOCS-SP5

#1250 EHIS-1601
  bcgov-source/app-phocs/main/default/flexipages/EHISWaterSourceIntakeRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISCreateEditFacilities.permissionset-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/AquiferName__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/AquiferNumber__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/AquiferSubtype__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/ArtesianWell__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/CasingDepth__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/EstimatedWellYield__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/FinalCasingStickUp__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/LinerDiameter__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/MaximumAnnualDiversion__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/MaximumDailyDiversion__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/PitlessAdapter__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/PointOfDiversionPODNumber__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/ScreenMaterial__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/ScreenSlotSize__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/ScreenedVent__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/StaticWaterLevel__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WaterLicenseNumber__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WellCap__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WellIDPlateLocation__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WellIDPlateNumber__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WellPit__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WellPump__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/WellScreenDepth__c.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicenseApplication/fields/AccountId.field-meta.xml
Labels: PHOCS-SP5

#1302 EHIS-327
  bcgov-source/app-phocs/main/default/flexipages/PHOCSConditionsRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/layouts/Conditions__c-PHOCS Condition Layout.layout-meta.xml
  bcgov-source/app-phocs/main/default/profiles/EHIS Standard User.profile-meta.xml
  bcgov-source/core/main/default/applications/EHIS_Services.app-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/Conditions__c.object-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/compactLayouts/Condition_Compact_Layout.compactLayout-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/compactLayouts/PHOCS_Condition_Compact_Layout.compactLayout-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Account_Name__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Condition_Name__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Condition_Status__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Description__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Effective_From__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Effective_To__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/In_Compliance__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Next_Steps__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/OperatorReportedStatus__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Reconsideration_Decision_Notified_On__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Reconsideration_Decision__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Reconsideration_Requested_Date__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Reconsideration_Requested__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Registrant_Notification_Date__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Registrar_Decision_Date__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Registrar_Decision__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Registrar_Delegate_Approver__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/fields/Related_BL__c.field-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/listViews/All.listView-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/recordTypes/PHOCS_Conditions.recordType-meta.xml
  bcgov-source/core/main/default/objects/Conditions__c/webLinks/New.webLink-meta.xml
  bcgov-source/core/main/default/profiles/Admin.profile-meta.xml
Labels: PHOCS-SP6

#1281 EHIS-1672 Add flows for deletion and AccountId changing scenarios
  bcgov-source/app-phocs/main/default/flows/RollUpAssetswhenDeleted.flow-meta.xml
  bcgov-source/app-phocs/main/default/flows/RollUpAssetswhenReparented.flow-meta.xml
Labels: PHOCS-SP6

#1348 BCMOHAM-25610-Update owner of regulatory code
  bcgov-source/app-alr/main/default/flows/Update_Owner_of_Inspection_task.flow-meta.xml
Labels: ALR
