Repository bcgov/MOH-ALR, pull requests merged in 2025-04, with the labels that each got.

#1132 BCMOHAD-28556-Update test classes
  bcgov-source/app-alr/main/default/classes/LateFeeManagementControllerBatchTest.cls
  bcgov-source/app-alr/main/default/classes/ManageUnitOmniServiceTest.cls
  bcgov-source/app-alr/main/default/classes/ScheduledEmailTriggerTest.cls
Labels: ALR

#1133 BCMOHAD-28556-Improving test coverage
  bcgov-source/app-alr/main/default/classes/ManageUnitsControllerTest.cls
  bcgov-source/app-alr/main/default/classes/MassEmailControllerTest.cls
Labels: ALR

#1121 BCMOHAD-28112-1-Refactor Code
  bcgov-source/app-alr/main/default/classes/MassEmailController.cls
  bcgov-source/app-alr/main/default/lwc/lateFeeManagementTable/lateFeeManagementTable.html
  bcgov-source/app-alr/main/default/lwc/lateFeeManagementTable/lateFeeManagementTable.js
Labels: ALR

#1122 BCMOHAM-23751-2-Update flow to use inspection method
  bcgov-source/app-alr/main/default/flows/Update_Last_Inspection_Date.flow-meta.xml
Labels: ALR

#1144 BCMOHAD-28694-cover scenario if no related contact exists
  bcgov-source/app-alr/main/default/classes/MassEmailController.cls
Labels: ALR

#1138 BCMOHAD-28556 || Code coverage changes
  bcgov-source/app-alr/main/default/classes/LateFeeManagementControllerBatchTest.cls
  bcgov-source/app-alr/main/default/classes/ManageUnitOmniServiceTest.cls
  bcgov-source/app-alr/main/default/classes/ManageUnitsControllerTest.cls
  bcgov-source/app-alr/main/default/classes/MassEmailControllerTest.cls
  bcgov-source/app-alr/main/default/classes/ScheduledEmailTriggerTest.cls
Labels: ALR, PHOCS

#1158 PHOCS-363
  bcgov-source/app-phocs/main/default/flexipages/PHOCSAssessmentTaskDefinitionRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISReadAssessmentTaskIndicatorDefinition.permissionset-meta.xml
  bcgov-source/core/main/default/objects/AssessmentIndicatorDefinition/fields/Category__c.field-meta.xml
  bcgov-source/core/main/default/objects/AssessmentIndicatorDefinition/fields/Comments__c.field-meta.xml
  bcgov-source/core/main/default/objects/AssessmentIndicatorDefinition/fields/ExternalId__c.field-meta.xml
  bcgov-source/core/main/default/objects/AssessmentIndicatorDefinition/fields/Score__c.field-meta.xml
  bcgov-source/core/main/default/objects/AssessmentIndicatorDefinition/recordTypes/PHOCSAssessmentIndicatorDefinition.recordType-meta.xml
  bcgov-source/core/main/default/objects/AssessmentTaskDefinition/compactLayouts/AssessmentTaskDefinitionCompactLayout.compactLayout-meta.xml
  bcgov-source/core/main/default/objects/AssessmentTaskDefinition/fields/Category__c.field-meta.xml
  bcgov-source/core/main/default/objects/AssessmentTaskDefinition/fields/ExternalId__c.field-meta.xml
  bcgov-source/core/main/default/objects/AssessmentTaskDefinition/recordTypes/PHOCSAssessmentTaskDefinition.recordType-meta.xml
Labels: PHOCS-SP4

#1145 Feature phocs 343 configure Inspection Type
  bcgov-source/app-phocs/main/default/flexipages/PHOCSInspectionTypeRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/layouts/InspectionType-PHOCS Inspection Type Layout.layout-meta.xml
  bcgov-source/app-phocs/main/default/permissionsetgroups/EHIS_Water_Business_Admin_PSG.permissionsetgroup-meta.xml
  bcgov-source/app-phocs/main/default/permissionsetgroups/EHIS_Water_Officer_PSG.permissionsetgroup-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISReadInspectionType.permissionset-meta.xml
  bcgov-source/core/main/default/applications/EHIS_Services.app-meta.xml
  bcgov-source/core/main/default/objects/InspectionType/InspectionType/InspectionType.object-meta.xml
  bcgov-source/core/main/default/objects/InspectionType/InspectionType/fields/Description.field-meta.xml
  bcgov-source/core/main/default/objects/InspectionType/InspectionType/fields/Name.field-meta.xml
  bcgov-source/core/main/default/objects/InspectionType/InspectionType/fields/OwnerId.field-meta.xml
  bcgov-source/core/main/default/objects/InspectionType/InspectionType/recordTypes/PHOCSInspectionType.recordType-meta.xml
  bcgov-source/core/main/default/objects/InspectionType/listViews/All_InspectionType.listView-meta.xml
  bcgov-source/core/main/default/sharingRules/InspectionType.sharingRules-meta.xml
Labels: PHOCS-SP4

#1189 BCMOHAD-28583 || Back promotion to dev branch
  bcgov-source/app-alr/main/default/classes/BCMOH_UtilityClass.cls
  bcgov-source/app-alr/main/default/classes/MassEmailController.cls
  bcgov-source/app-alr/main/default/flows/Update_Last_Inspection_Date.flow-meta.xml
  bcgov-source/app-alr/main/default/lwc/lateFeeManagementTable/lateFeeManagementTable.html
  bcgov-source/app-alr/main/default/lwc/lateFeeManagementTable/lateFeeManagementTable.js
Labels: ALR, PHOCS

#1242 EHIS-1623,1617
  bcgov-source/app-phocs/main/default/flexipages/FacilityRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISCreateEditFacilities.permissionset-meta.xml
  bcgov-source/core/main/default/objects/Account/fields/LicencePlate__c.field-meta.xml
  bcgov-source/core/main/default/objects/Account/recordTypes/Facility.recordType-meta.xml
  src-bre/main/default/decisionMatrixDefinitionVersion/PHOCS_Document_Checklists.decisionMatrixDefinitionVersion-meta.xml
Labels: PHOCS-SP5

#1244 defect-1813-SP4
  bcgov-source/app-phocs/main/default/permissionsetgroups/EHIS_Water_Business_Admin_PSG.permissionsetgroup-meta.xml
  bcgov-source/app-phocs/main/default/permissionsetgroups/EHIS_Water_Officer_PSG.permissionsetgroup-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISReadAssessmentIndicatorDefinition.permissionset-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISReadAssessmentTaskDefinition.permissionset-meta.xml
Labels: PHOCS-SP4

#1220 EHIS-1612 Auto-population logic for the "Identifier" field for the BL
  bcgov-source/app-phocs/main/default/flexipages/BLAEvaluationRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/flexipages/BLAOperatingPermitRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/flexipages/ConstructionPermitApplication.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/flexipages/PHOCSBusinessLicensePermitRecordPage.flexipage-meta.xml
  bcgov-source/app-phocs/main/default/flows/BLAIssuePermit.flow-meta.xml
  bcgov-source/app-phocs/main/default/flows/BLPopulateIdentifier.flow-meta.xml
  bcgov-source/app-phocs/main/default/layouts/BusinessLicense-PHOCS Permit License Layout.layout-meta.xml
  bcgov-source/app-phocs/main/default/permissionsetgroups/EHIS_Water_Business_Admin_PSG.permissionsetgroup-meta.xml
  bcgov-source/app-phocs/main/default/permissionsetgroups/EHIS_Water_Officer_PSG.permissionsetgroup-meta.xml
  bcgov-source/app-phocs/main/default/permissionsets/EHISPHOCSCREBusinessLicense.permissionset-meta.xml
  bcgov-source/app-phocs/main/default/profiles/EHIS Standard User.profile-meta.xml
  bcgov-source/app-phocs/main/default/quickActions/BusinessLicenseApplication.IssuePermit.quickAction-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/BusinessLicense.object-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/compactLayouts/PHOCSPermitLicenseCompactLayout.compactLayout-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/fields/Account__c.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/fields/DocumentTemplate__c.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/fields/ExternalId__c.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/fields/Identifier.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/fields/IdentifierSequence__c.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/fields/RegistrationCertificate__c.field-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/listViews/ALL.listView-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/recordTypes/License.recordType-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/recordTypes/PHOCSPermitLicense.recordType-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/webLinks/GenerateLicense.webLink-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/webLinks/Generate_Document.webLink-meta.xml
  bcgov-source/core/main/default/objects/BusinessLicense/webLinks/Issue_License.webLink-meta.xml
Labels: PHOCS-SP5
